/* Base Application Styles */
html, body, #app {
  width: 100%;
  height: 100%;
}
#app {
	background: #e1e1e1;
}
.ytrack-app {
    width: 60%;
    margin: 0 38% 0 2%;
    height: 100%;
    background: #fff;
}
