/* Base Application Styles */
body {
  background: #e1e1e1;
}

.ytrack-app img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.ytrack-app .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
}
